.header {
  border-bottom: 1px solid $header-border-bottom-color;
}

.header__container {
  display: flex;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu_button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.menu_button .icon-close-nav {
  display: none;
}

.menu_button.is-open .icon-close-nav {
  display: block;
}

.menu_button.is-open .icon-menu-nav {
  display: none;
}
