.header {
  border-bottom: 1px solid $header-border-bottom-color;
}

.header__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  padding-top: 16px;
  padding-bottom: 16px;
}

.menu-button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

.header-menu {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
