.header {
  border-bottom: 1px solid $header-border-bottom-color;
}

.header__container {
  align-items: center;

  @media screen and (min-width: 768px) {
    display: flex;
  }
}

.menu-container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
  }
  @media screen and (min-width: 1200px) {
    width: inherit;
  }
  @media screen and (max-width: 767px) {
    padding-top: 48px;
    padding-left: 40px;
  }
}

@media screen and (max-width: 767px) {
  .menu-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
    z-index: 2;
    transform: translateX(100%);
  }
}

.menu-container .icon-close-nav {
  display: none;
}

.menu-container.is-open {
  transform: translateX(0);

  &.icon-close-nav {
    display: block;
  }
}
.menu-container.is-open .icon-close-nav {
  display: block;
}

.menu-container.is-open .icon-menu-nav {
  display: none;
}

.menu-button {
  position: fixed;

  right: 15px;
  // z-index: 2;
  padding: 0;
  border: none;
  background-color: transparent;
  &.is-open .icon-close-nav {
    display: block;
  }
  &.is-open .icon-menu-nav {
    display: none;
  }
  & .icon-close-nav {
    display: none;
  }
  &:hover,
  &:focus {
    color: $accent-color;
  }
  @media screen and (min-width: 768px) {
    display: none;
  }
}

// @media screen and (min-width: 768px) {
//   .menu-button {
//     display: none;
//   }
// }

.header-menu {
  display: flex;
  @media screen and (max-width: 767px) {
    justify-content: space-between;
    align-items: center;
    padding: 16px 15px;
  }
  @media screen and (min-width: 767px) and (max-width: 1199px) {
    margin-right: auto;
  }
}
