.mob-menu-bot__contacts {
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: $accent-color;
  margin-bottom: 64px;
}

.mob-menu-bot__contacts-item:not(:last-child) {
  margin-bottom: 32px;
}

.mob-menu-bot__list {
  display: flex;
}

.mob-menu-bot__contacts-tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.176;
  letter-spacing: 0.02em;
  color: $accent-color;
}

.mob-menu-bot__contacts-mailo {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.166;
  letter-spacing: 0.02em;
  color: $text-color;
}

.mob-menu-bot__list-item {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: $accent-color;
  &:not(:last-child) {
    margin-right: 20px;
  }
}
