.section {
  padding-top: 60px;
  padding-bottom: 60px;
  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.section__title {
  @extend %section;
  line-height: 1.17;
  @extend %text;
  margin-bottom: 30px;
  color: $primary-shade-color;
}
